@model IEnumerable<SysPatrimonio.Models.DtoPatrimonio>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="site.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2>Lista de departamentos</h2>
						</div>
						<div class="col-xs-6">
							<a asp-action="Create" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Adicionar departamento</span></a>					
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Etiqueta</th>
							<th>Nome</th>
							<th>Valor</th>
							<th>Categoria</th>
							<th>Local</th>
							<th>Departamento</th>
							<th>Fornecedor</th>
							<th>Situação</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model) {
							
							<tr>
								<td class="col-1">
									@item.id
								</td>
								<td class="col-1">
									@item.numetiqueta
								</td>
								<td class="col-1">
									@item.nomepatrimonio
								</td>
								<td class="col-1">
									@item.valorpatrimonio
								</td>
                                <td class="col-1">
									@item.nomecategoria
								</td>
                                <td class="col-1">
									@item.nomelocal
								</td>
                                <td class="col-1">
									@item.nomedepartamento
								</td>
                                <td class="col-1">
									@item.nomefornecedor
								</td>
                                <td class="col-1">
									@item.situacao
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.id" class="edit"><i class="fa fa-pencil" data-toggle="tooltip" title="Edit"></i></a> 
									<a asp-action="Details" asp-route-id="@item.id" class="details"><i class="fa fa-info-circle" data-toggle="tooltip" title="Details"></i></a>
									<a asp-action="Delete" asp-route-id="@item.id"  class="delete"><i class="fa fa-trash-o" data-toggle="tooltip" title="Delete"></i> </a>
								</td>
							
						</tr>
						}
							 
					</tbody>
				</table>
				
				<div class="clearfix">
					<div class="hint-text">Mostrando todos os resultados.</div>
				</div>
			</div>
		</div>        
    </div>
</body>
</html>